#listagem {
    background-color: #d9d9d9;
}
#content {
    width: 100%;
}
table {
    font-style: 'Roboto' sans-serif;
    width: 90%;
    text-align: left;
    margin: 0 auto;
}

h3 {
    padding: 2%;
    color: #303b39;
    text-shadow: 1px 1px rgba(27, 27, 27,0.4);
    text-align: center;
}

 th, td {
    padding: 10px;
    color: #303b39;
    text-align: left;
    border: 1px solid;
}

td img {
    height: 40px;
    width: 40px;
}

#modal {
    width: 100%;
    font-family: 'roboto', sans-serif;
    font-weight: 600;

    display: block;
}

#modal .container-modal {
    width: 70%;
    margin: 10% auto;
    background-color: #303b48;
    padding-bottom: 10px;
    border-radius: 10px;
    
}
.info {
    width: 100%;
    margin: 0 auto;
}
.container-modal h3 {
    color: #d9d9d9;
}
.info label{
    color: #d9d9d9;
    padding: 10px;
    text-align: center;
}

.info input {
    margin: 0 auto;
}

.info label, input {
    display: block;
    width:200px;
    margin:0 auto;
}

.info button {
    display: block;
    margin: 10px auto;
    background-color: #DF8F05;
    border-radius: 10px;

    width: 120px;
    height: 45px;

    border-style: solid;
    border-color: #DF8F05;

    color: #303b48;
    font-weight: 600;

    box-shadow: 1px 2px rgba(27, 27, 27,0.4);
}

.navbar-nav a {
    color: #ffffff;
}

.navbar-nav a:hover {
    color: #DF8F05;
    transition: 500ms;
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}


/* listagem de serviços */
#listagem-servico img {
    height: 30px;
    margin-left: 1%;
    width: 30px;
}

#listagem-barbeiro img {
    height: 30px;
    margin-left: 1%;
    width: 30px;
}







